/* mixin */
/* example:
@mixin font-lato-normal-size-line($size-format: 400, $fonts:14px, $linehe: 17px) {
    font-family: lato;
    font-weight: $size-format;
    font-style: normal;
    font-size: $fonts;
    line-height: $linehe;
}*/

@mixin btnnone(){
    border: none;
    background-color: transparent;
}

@mixin font1($algininfo: center) {
    //styleName: 1;
    font-family: rubik-medium;
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    text-align: $algininfo;
}